<div class="productCarCard">
    <div class="pcc_top">
        <div class="pcct_l">
            <input type="checkbox" /> <span>Nombre corto</span>
        </div>
        <div class="pcct_r">
            <button class="pcct_button">
                <i class="fas fa-trash pcct_icon"></i>
            </button>
        </div>
    </div>
    <div class="pcc_bottom">
        <div class="pccb_l">
            <div style="background-image: url(https://m.media-amazon.com/images/I/612OuMs29eL._AC_SL1200_.jpg)" class="pccbl_img"></div>
            <div class="pccbl_controls">
                <button class="pccblc_button">-</button>
                <span class="pccblc_count">1</span>
                <button class="pccblc_button">+</button>
            </div>
        </div>
        <div class="pccb_r">
            <div class="pccbr_a">
                Descripción larga
            </div>
            <div class="pccbr_b">
                <div class="pccbrb_setting"><b>Color:</b> Plateado</div>
                <div class="pccbrb_setting"><b>Material:</b> Aluminio</div>
                <div class="pccbrb_setting"><b>Tamaño:</b> Grande</div>
            </div>
            <div class="pccbr_c">
                $ 9.99
            </div>
        </div>
    </div>
    <!--<div class="pcc_contentA">
        <div class="pccca_l">
            <input type="checkbox" /> <span>Nombre corto</span>
        </div>
        <div class="pccca_r">
            <button class="pcccar_button">
                <i class="fas fa-trash pcccar_icon"></i>
            </button>
        </div>
    </div>
    <div class="pcc_contentB">
        <div class="pcc_contentBL">
            <div class="pcccbl_img" style="background-image: url(https://m.media-amazon.com/images/I/612OuMs29eL._AC_SL1200_.jpg)"></div>
            <div class="pcccbl_controls">
                <button class="pcccblc_button">
                    -
                </button>
                <span class="pcccblc_text">1</span>
                <button class="pcccblc_button">
                    +
                </button>
            </div>
        </div>
        <div class="pcc_contentBR">
            <div class="pcccbr_top">
                <div class="pcccbrt_desc">
                    Descipción larga Descipción larga Descipción larga
                </div>
                <div class="pcccbrt_settings">
                    <div class="pcccbrts_setting">
                        Color: Plateado
                    </div>
                    <div class="pcccbrts_setting">
                        Material: Aluminio
                    </div>
                    <div class="pcccbrts_setting">
                        Tamaño: Grande
                    </div>
                </div>
            </div>
            <div class="pcccbr_price">
                $ 9.99
            </div>
        </div>
    </div>-->
</div>