<nav class="navBar">
    <a href="/" title="Monitores"><i class="fas fa-desktop nv_icon"></i></a>
    <a href="#" title="Audifonos"><i class="fas fa-headphones nv_icon"></i></a>
    <a href="#" title="Teclados"><i class="fas fa-keyboard nv_icon"></i></a>
    <a href="#" title="Mouses"><i class="fas fa-mouse nv_icon"></i></a>
    <a href="#" title="Bocinas"><i class="fas fa-volume-up nv_icon"></i></a>
</nav>