<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <title>Gaming House</title>    
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="/app.css">
        <link rel="stylesheet" href="/Home/Home.css">
        <link rel="stylesheet" href="/NavBar/NavBar.css">
        <link rel="stylesheet" href="/SearchBar/SearchBar.css">
        <link rel="stylesheet" href="/Footer/Footer.css">
    </head>
    
    <body>
        <%- include('Home/Home') %>
    </body>
</html>