<!DOCTYPE html>
<html>
    <head>
        <%- include('./partials/head') %>
        <link rel="stylesheet" href="/css/index.css">
    </head>
    
    <body>
        <%- include('partials/headerNavbar') %>

        <div class="main">
            <!--<HomeMobile />-->
            <img src="/images/banner.jpg" class="homeMobileBanner" alt="" />
            <p class="homeMobileTitle">Más vendidos</p>
            <div class="homeMobileContent">
                <!--<Item />-->
                <a class="item" href="/a1" title="Monitor AOC 24 pulgadas">
                    <img class="itemImg" src="https://m.media-amazon.com/images/I/81GJkTKuLnL._AC_UL320_.jpg" alt="" />
                    <div class="itemName">Monitor AOC 24 pulgadas</div>
                    <i class="fas fa-desktop"></i>
                    <div class="itemPrice">
                        $ 4940
                    </div>
                </a>
                <a class="item" href="/a1" title="Monitor Samsung 49 pulgadas">
                    <img class="itemImg" src="https://m.media-amazon.com/images/I/81jiUqRKBcL._AC_UL320_.jpg" alt="" />
                    <div class="itemName">Monitor Samsung 49 pulgadas</div>
                    <i class="fas fa-desktop"></i>
                    <div class="itemPrice">
                        $ 23099
                    </div>
                </a>
                <a class="item" href="/a1" title="Monitor Asus 27 pulgadas">
                    <img class="itemImg" src="https://m.media-amazon.com/images/I/81eGtZyyavL._AC_UL320_.jpg" alt="" />
                    <div class="itemName">Monitor Asus 27 pulgadas</div>
                    <i class="fas fa-desktop"></i>
                    <div class="itemPrice">
                        $ 12380
                    </div>
                </a>
            </div>
            <br/><br/>
            <p class="homeMobileTitle">Ofertas de la semana</p>
            <div class="homeMobileContent">
                <!--<Item />-->
                <a class="item" href="/a1" title="Audifonos HyperX Cloud Alpha">
                    <img class="itemImg" src="https://m.media-amazon.com/images/I/71-hkFn17zL._AC_UL320_.jpg" alt="" />
                    <div class="itemName">Audifonos HyperX Cloud Alpha</div>
                    <i class="fas fa-headphones"></i>
                    <div class="itemPrice">
                        $ 1391
                    </div>
                </a>
                <a class="item" href="/a1" title="Teclado BINDEN">
                    <img class="itemImg" src="https://m.media-amazon.com/images/I/61eydmtCi5S._AC_UL320_.jpg" alt="" />
                    <div class="itemName">Teclado BINDEN</div>
                    <i class="fas fa-keyboard"></i>
                    <div class="itemPrice">
                        $ 809
                    </div>
                </a>
                <a class="item" href="/a1" title="Mouse Lightsync">
                    <img class="itemImg" src="https://m.media-amazon.com/images/I/71OrygkkeOL._AC_UL320_.jpg" alt="" />
                    <div class="itemName">Mouse Lightsync</div>
                    <i class="fas fa-mouse"></i>
                    <div class="itemPrice">
                        $ 411
                    </div>
                </a>
            </div>
        </div>

        <div class="footer">
            <nav class="indexMobileNav">
                <a href="/" class="indexMobileNavA"><i class="fas fa-home"></i></a>
                <a href="/login" class="indexMobileNavA"><i class="fas fa-user"></i></a>
                <a href="/carrito" class="indexMobileNavA"><i class="fas fa-shopping-cart"></i></a>
                <a href="#" class="indexMobileNavA"><i class="fas fa-bars"></i></a>
            </nav>
        </div>  

        <%- include('partials/footer') %>
    </body>
</html>