<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/productdetail.css">
</head>

<body>
    <div class="container">
        
        <%- include('partials/headerNavbar') %>

        <main class="container__main">
            <!-- Left sidebar -->
            <aside class="container__left">
                <div class="gallerycontainer">

                    <div>
                        <a class="thumbnail" href="#thumb"><img src="images/1.jpg" id="cover"
                                style="height: 100px; width: 100px; " /></a>


                        <br>
                        <a class="thumbnail" href="#thumb"><img src="images/2.jpg" id="cover"
                                style="height: 100px; width: 100px;" /></a>

                        <br />
                        <a class="thumbnail" href="#thumb"><img src="images/3.jpg" id="cover"
                                style="height: 100px; width: 100px;" /></a>
                    </div>


                </div>

            </aside>

            <!-- Main content -->
            <article class="container__middle" id="linecuss">

                <div class="image-main">
                    <img src="images/1.jpg" alt="pro1" style="max-height: 309px; max-width: 309px;">
                </div>

            </article>

            <!-- Right sidebar -->
            <nav class="container__right">
                <div>
                    <div id="title">
                        <h1>G203 Lightsync Gaming Mouse - Color Blanco</h1>
                    </div>

                    <div id="specs">
                        <div id="spec-izq">
                            <div class="spec-disponible">
                                <h3>Disponible</h3>
                            </div>

                            <div class="spec-disponible">

                                <select id="variantsSelector" name="variants">
                                    <option>Seleccionar</option>
                                    <option>Blanco</option>
                                    <option>Negro</option>
                                    <option>Rosa</option>
                                </select>

                            </div>


                        </div>

                        <div id="spec-der">
                            <div class="spec-disponible">
                                <h1 style="color: red; padding-right: 10px; padding-top: 5px;">$416.00</h1>
                                <a href="#" class="btn_blue floatleft" target="_blank">Añadir al carrito</a>
                            </div>
                        </div>

                    </div>
                </div>

                <div id="specs">
                    <div id="spec-izq">
                        <ul style="list-style: none;">
                            <li>Marca</li>
                            <li>Color</li>
                            <li>Número de botones</li>
                            <li>Estilo</li>
                            <li>Dimensiones del artículo</li>
                        </ul>
                    </div>

                    <div id="spec-der">
                        <ul style="list-style: none;">
                            <li>Logitech</li>
                            <li>Blanco</li>
                            <li>3</li>
                            <li>Estándar</li>
                            <li>Largo x ancho x alto 40 x 110 x 160 millimeters</li>
                        </ul>
                    </div>
                </div>
                <div id="desc-prod">
                    <P> Acerca de este artículo
                        Sensor de alta precisión con DPI ajustable hasta 8000 DPI
                        Iluminación RGB LIGHTSYNC
                        LIGHTSYNC RGB personalizable con efecto de onda de color personalizable con aproximadamente 16,8
                        millones de colores
                        Diseño de 6 botones probado con el tiempo con botones programables usando Software Logitech G
                        HUB</P>

                </div>

            </nav>
        </main>


        <main class="container__main">


            <!-- Main content -->
            <article class="container__middle">
                <div id="spec-der">
                    <h1>Comentarios del producto</h1><br>

                    <div id="spec-der">
                        <h3 style="color: rgb(0, 132, 209);">Juan de dios</h3><br>
                        <p>increible asdasdas</p>
                    </div>

                    <div id="spec-der">
                        <h3 style="color: rgb(0, 132, 209);">Kiko</h3><br>
                        <p>ta bien</p>
                    </div>
                </div>







            </article>

            <!-- Right sidebar -->
            <nav class="container__right">
                <div>
                    <h1>Productos similares</h1>
                </div>

                <div class="itemSuggRow">
                    <!--<Item />-->
                    <div class="itemSuggCol">
                        <a class="item" href="/a1" title="Monitor AOC 24 pulgadas">
                            <img class="itemImg" src="https://m.media-amazon.com/images/I/81GJkTKuLnL._AC_UL320_.jpg"
                                style="max-width: 180px; max-height: 180px; " />
                            <div class="itemSugg-name">Monitor AOC 24 pulgadas</div>
                            <i class="fas fa-desktop"></i>
                            <div class="itemPrice">
                                $ 4940
                            </div>
                        </a>
                    </div>


                </div>

              

    </div>

    </nav>
    
    </div>
  
    <%- include('partials/footer') %>
        

    
</body>



</html>