<a class="homeContentCard">
    <div style="background-image: url(https://m.media-amazon.com/images/I/612OuMs29eL._AC_SL1200_.jpg)" class="hcc_img"></div>
    <div class="hcc_stars">
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
        <i class="far fa-star"></i>
    </div>
    <div class="hcc_sells">
        1000 vendidos
    </div>
    <div class="hcc_name">
        nameaaaaaaaaaaaaaaaaaaaaaaaaaa
    </div>
    <button class="hcc_button">
        Agregar al carrito
    </button>
</a>