.NewP-container,
.NewP-text,
.NewP-button,
.NewP-column,
.NewP-image,
.NewP-area {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

.NewP-container {
  margin-top: 100px;
  border-radius: 4px;
  background-color: white;
  padding: 18px;
  width: 60vw;
  margin: 5vw auto;
}

.NewP-text {
  display: block;
  color: black;
}
textarea{resize: none}
.NewP-area {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  background-color: white;
}

.NewP-button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 12px 32px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  margin: 10px 0;
  width: 50%;
}

.NewP-button-Blue {
  background-color: #3b12f0 !important;
}

.NewP-button-Red {
  background-color: #f11f1f !important;
}

.NewP-button:hover {
  background-color: #45a049;
}

.NewP-column {
  box-sizing: border-box;
  float: left;
  width: 50%;
  padding: 10px;
  height: 10vh;
}

.NewP-image {
  max-width: 160px;
  max-height: 160px;
  border: blanchedalmond solid;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Clear floats after the columns */
.NewP-fila:after {
  content: "";
  display: table;
  clear: both;
}

.NewP-button-image {
  background-color: #f1f1f1;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
  max-width: 50%;
}

.NewP-button-image:hover {
  background-color: rgb(141, 141, 141);
  color: white;
}

/*================================================*/

@media screen and (min-width: 720px) {
  .NewP-column {
    /*border: solid; */
    width: 100%;
  }

  .NewP-container {
    width: 40vw;
    margin: 1vw auto;
  }
}