<link rel="stylesheet" href="css/footer.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <footer class="footer-distributed">

      <div class="footer-right">

        <a href="#"><i class="fab fa-facebook-square"></i></a>
        <a href="#"><i class="fab fa-linkedin"></i></a>
        <a href="#"><i class="fab fa-twitter-square"></i></i></a>
        <a href="https://github.com/JoseSabas/grupo_12_GamingHouse"><i class="fab fa-github-square"></i></a>

      </div>

      <div class="footer-left">

        <p class="footer-links">
          <a class="link-1" href="/">Inicio</a>

          <a href="/carrito">Nosotros</a>

          <a href="/detalles">About</a>

          <a href="/agregar">Politicas</a>

          <a href="/editar">Contacto</a>
        </p>

        <p>Gaming House &copy; 2021</p>
      </div>

    </footer>