
        <div class="header">
            <i class="fas fa-dice-d20"></i>
            <div class="indexMobileHeaderRight">
                <div class="indexMobileSearch">
                    <i class="fas fa-search"></i>
                    <form class="indexMobileForm">
                        <input type="text" placeholder="Buscar artículo" class="indexMobileInput" />
                    </form>
                </div>
            </div>
            <!--<VerticalNavigation />-->
            <nav class="verticalNavigation">
                <a href="/"><i class="fas fa-desktop"></i></a>
                <a href="#"><i class="fas fa-headphones"></i></a>
                <a href="/carrito"><i class="fas fa-gamepad"></i></a>
                <a href="#"><i class="fas fa-keyboard"></i></a>
                <a href="#"><i class="fas fa-mouse"></i></a>
                <a href="#"><i class="fas fa-volume-up"></i></a>
            </nav>
        </div>
